<nav class="navbar sticky-top navbar-expand-lg navbar-light">
    <a class="navbar-brand logo" href="#">
        <img src="../assets/images/logo-letrasblancas.png" width="200" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item">
                <a class="nav-link" [routerLink]="['']">Blog</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/new']">Post</a>
            </li>
        </ul>

    </div>
</nav>


<div>
    <router-outlet></router-outlet>
</div>