.card {
    width: 100%;
    font-family: 'Assistant';
    margin-bottom: 10px;
    margin-left: 0px;
}

.post {
    margin: 30px 30px;
}

.imagen {
    width: 100%;
    height: 20%;
}

.input-group {
    margin-top: 30px;
    margin-bottom: 30px;
}

.icono {
    height: 49px;
}

.btn {
    width: 100px;
    margin-bottom: 50px;
    justify-items: right;
    background-color: white;
    color: rgba(42, 134, 177, 0.904);
    border: 1px solid rgba(42, 134, 177, 0.904);
    ;
}

@media (min-width: 600px) {
    .card-img-top {
        height: 300px;
    }
}